<div class="fluid-form-block form_block">
  <%= form_for current_user.becomes(User) do |f| %>
      <div class="row">
        <div class="col-sm-6">
          <div class="field">
            <%= f.label :avatar, 'Зображення' %>
            <%= f.file_field :avatar %>
          </div>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>
          <div class="field">
            <%= f.label :first_name, 'Iм\'я' %><br />
            <%= f.text_field :first_name, autofocus: true %>
          </div>
          <div class="field">
            <%= f.label :last_name, 'Призвище' %><br />
            <%= f.text_field :last_name, autofocus: true %>
          </div>
          <div class="field">
            <%= f.label :specializations, 'Моя спецiалiзацiя' %><br />
            <%= f.text_field :specializations, autofocus: true %>
          </div>
          <div class="field">
            <%= f.label :phone_number, 'Мобiльний' %><br />
            <%= f.text_field :phone_number, autofocus: true %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="field">
            <%= f.label :room_number, 'Номер квартири' %><br />
            <%= f.text_field :room_number, autofocus: true %>
          </div>
          <div class="field">
            <%= f.label :state_number, 'Номер пiд\'iзду' %><br />
            <%= f.text_field :state_number, autofocus: true %>
          </div>
          <div class="field">
            <%= label_tag :facebook, 'Facebook' %><br />
            <%= text_field_tag :facebook, current_user.social_links['facebook'].to_s %>
          </div>
          <div class="field">
            <%= label_tag :twitter, 'Twitter' %><br />
            <%= text_field_tag :twitter, current_user.social_links['twitter'] %>
          </div>
          <div class="field">
            <%= label_tag :instagram, 'Instagram' %><br />
            <%= text_field_tag :instagram, current_user.social_links['instagram'] %>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="field">
            <%= f.label :description, 'Про себе' %><br />
            <%= f.cktext_area :description, rows: 10, autofocus: true %>
          </div>
        </div>

      </div>
      <%= f.submit btn, class: 'btn btn-green' %>
  <% end %>
</div>
