<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-lg-5 col-lg-offset-1">
      <h1 class="page-title">Новини</h1>
      <% @news.each do |news| %>
          <%= link_to  post_path(news) do %>
              <div class="row">
                <div class="col-sm-12 news-block">
                  <div class="col-sm-4 col-lg-4 avatar">
                    <div class="large-image-avatar bordered", style="background-image: url('<%= news.decorate.main_image_path %>')"></div>
                  </div>
                  <div class="col-sm-8">
                    <div class="row title">
                      <span class="name"><%= news.title %></span>
                      <div class="span pull-right date-string">
                        <%= news.created_at.strftime('%Y-%m-%d') %>
                      </div>
                    </div>
                    <div class="row content">
                      <%= news.content.html_safe %>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
      <% end %>
    </div>
    <div class="col-md-6 col-lg-5 col-lg-offset-1">
      <h1 class="page-title">Спiлкування</h1>
      <%= render @posts %>
    </div>
  </div>
</div>

