<div class="row">
  <div class="col-sm-offset-2 col-sm-6">
    <div class="row">
      <h2><%= @post.title %></h2>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <%= @post.content.html_safe %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-12">
        <% unless @post.images.count.zero? %>
        <div class="product-image-large">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <% @post.images.each_with_index do |image, i| %>
                <div class="item <%= 'active' if i == 0 %>">
                  <a href="<%= image.url %>" target="_blank">
                    <%= image_tag image.url, alt: '' %>
                  </a>
                </div>
              <% end %>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
              <span class="fa fa-chevron-left" aria-hidden="true"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
              <span class="fa fa-chevron-right" aria-hidden="true"></span>
            </a>
          </div>
        </div>
        <% end %>
      </div>
      <!-- End Product Image & Available Colors -->
    </div>
    <div class="row">
      <div class="col-sm-6 files">
        <% @post.files.each do |file| %>
            <br>
            <%= link_to file.to_s.split('/').last, file.to_s %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<hr>
<% unless @post.news? %>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-6">
      <h3>Коментарi</h3>
        <%= render 'comments/create' %>
      <% if @comments.count.zero? %>
        <h4>Жодного коментаря, поки що :)</h4>
      <% else %>
        <%= render 'comments/user_comments' %>
      <% end %>
    </div>
  </div>
<% end %>
